.item {
  height: 55px;
  width: 55px;
  margin: 10px;
  background: brown;
  border: solid black 1px;
  font-size: 20pt;
  color: white;
}

.container {
  display: flex;
  height: 400px;
  width: 400px;
  background: aqua;

  flex-wrap: wrap;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
}

@media (min-width: 600px) {
  .container {
    height: 200px;
    width: 600px;
  }
}
